<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
    <entry key="node_file" type="xstring" value="settings.xml"/>
    <config key="flow_stack"/>
    <config key="internal_node_subsettings">
        <entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
    </config>
    <config key="model">
        <config key="numCol_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_string"/>
            <entry key="EnabledStatus" type="xboolean" value="false"/>
        </config>
        <entry key="numCol" type="xstring" value="SalePrice"/>
        <config key="backgroundColor_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_color"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <config key="backgroundColor">
            <entry key="Red" type="xint" value="255"/>
            <entry key="Green" type="xint" value="255"/>
            <entry key="Blue" type="xint" value="255"/>
            <entry key="Alpha" type="xint" value="255"/>
        </config>
        <config key="svg_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_svg"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <config key="svg">
            <entry key="width" type="xint" value="800"/>
            <entry key="height" type="xint" value="600"/>
            <entry key="fullscreen" type="xboolean" value="true"/>
            <entry key="showFullscreen" type="xboolean" value="true"/>
        </config>
        <config key="columns_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_columnfilter"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <config key="columns">
            <entry key="filter-type" type="xstring" value="STANDARD"/>
            <config key="included_names">
                <entry key="array-size" type="xint" value="1"/>
                <entry key="0" type="xstring" value="Lot Area"/>
            </config>
            <config key="excluded_names">
                <entry key="array-size" type="xint" value="36"/>
                <entry key="0" type="xstring" value="MS SubClass"/>
                <entry key="1" type="xstring" value="Lot Frontage"/>
                <entry key="2" type="xstring" value="Overall Qual"/>
                <entry key="3" type="xstring" value="Overall Cond"/>
                <entry key="4" type="xstring" value="Year Built"/>
                <entry key="5" type="xstring" value="Year Remod/Add"/>
                <entry key="6" type="xstring" value="Mas Vnr Area"/>
                <entry key="7" type="xstring" value="BsmtFin SF 1"/>
                <entry key="8" type="xstring" value="BsmtFin SF 2"/>
                <entry key="9" type="xstring" value="Bsmt Unf SF"/>
                <entry key="10" type="xstring" value="Total Bsmt SF"/>
                <entry key="11" type="xstring" value="1st Flr SF"/>
                <entry key="12" type="xstring" value="2nd Flr SF"/>
                <entry key="13" type="xstring" value="Low Qual Fin SF"/>
                <entry key="14" type="xstring" value="Gr Liv Area"/>
                <entry key="15" type="xstring" value="Bsmt Full Bath"/>
                <entry key="16" type="xstring" value="Bsmt Half Bath"/>
                <entry key="17" type="xstring" value="Full Bath"/>
                <entry key="18" type="xstring" value="Half Bath"/>
                <entry key="19" type="xstring" value="Bedroom AbvGr"/>
                <entry key="20" type="xstring" value="Kitchen AbvGr"/>
                <entry key="21" type="xstring" value="TotRms AbvGrd"/>
                <entry key="22" type="xstring" value="Fireplaces"/>
                <entry key="23" type="xstring" value="Garage Yr Blt"/>
                <entry key="24" type="xstring" value="Garage Cars"/>
                <entry key="25" type="xstring" value="Garage Area"/>
                <entry key="26" type="xstring" value="Wood Deck SF"/>
                <entry key="27" type="xstring" value="Open Porch SF"/>
                <entry key="28" type="xstring" value="Enclosed Porch"/>
                <entry key="29" type="xstring" value="3Ssn Porch"/>
                <entry key="30" type="xstring" value="Screen Porch"/>
                <entry key="31" type="xstring" value="Pool Area"/>
                <entry key="32" type="xstring" value="Misc Val"/>
                <entry key="33" type="xstring" value="Mo Sold"/>
                <entry key="34" type="xstring" value="Yr Sold"/>
                <entry key="35" type="xstring" value="SalePrice"/>
            </config>
            <entry key="enforce_option" type="xstring" value="EnforceExclusion"/>
            <config key="name_pattern">
                <entry key="pattern" type="xstring" value=""/>
                <entry key="type" type="xstring" value="Wildcard"/>
                <entry key="caseSensitive" type="xboolean" value="true"/>
            </config>
            <config key="datatype">
                <config key="typelist">
                    <entry key="org.knime.core.data.IntValue" type="xboolean" value="false"/>
                    <entry key="org.knime.core.data.DoubleValue" type="xboolean" value="false"/>
                </config>
            </config>
        </config>
        <config key="boxColor_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_color"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <config key="boxColor">
            <entry key="Red" type="xint" value="255"/>
            <entry key="Green" type="xint" value="255"/>
            <entry key="Blue" type="xint" value="255"/>
            <entry key="Alpha" type="xint" value="255"/>
        </config>
        <config key="enableTitleEdit_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="enableTitleEdit" type="xboolean" value="true"/>
        <config key="displayFullscreen_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="displayFullscreen" type="xboolean" value="true"/>
        <config key="title_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_string"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="title" type="xstring" value="Box Plot"/>
        <config key="multi_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="multi" type="xboolean" value="true"/>
        <config key="failOnSpecialDoubles_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="failOnSpecialDoubles" type="xboolean" value="true"/>
        <config key="reportOnMissingValues_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="reportOnMissingValues" type="xboolean" value="true"/>
        <config key="subtitle_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_string"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="subtitle" type="xstring" value=""/>
        <config key="enableViewControls_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="enableViewControls" type="xboolean" value="true"/>
        <config key="enableColumnSelection_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="enableColumnSelection" type="xboolean" value="true"/>
        <config key="showWarnings_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="showWarnings" type="xboolean" value="true"/>
        <config key="enableSubtitleEdit_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="enableSubtitleEdit" type="xboolean" value="true"/>
        <config key="daColor_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_color"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <config key="daColor">
            <entry key="Red" type="xint" value="255"/>
            <entry key="Green" type="xint" value="255"/>
            <entry key="Blue" type="xint" value="255"/>
            <entry key="Alpha" type="xint" value="255"/>
        </config>
        <entry key="hideInWizard" type="xboolean" value="false"/>
        <entry key="maxRows" type="xint" value="2500"/>
        <entry key="generateImage" type="xboolean" value="false"/>
        <entry key="customCSS" type="xstring" value=""/>
    </config>
    <config key="nodeAnnotation">
        <entry key="text" type="xstring" value="Lot Area distribution"/>
        <entry key="bgcolor" type="xint" value="16777215"/>
        <entry key="x-coordinate" type="xint" value="486"/>
        <entry key="y-coordinate" type="xint" value="319"/>
        <entry key="width" type="xint" value="108"/>
        <entry key="height" type="xint" value="15"/>
        <entry key="alignment" type="xstring" value="CENTER"/>
        <entry key="borderSize" type="xint" value="0"/>
        <entry key="borderColor" type="xint" value="16777215"/>
        <entry key="defFontSize" type="xint" value="9"/>
        <entry key="annotation-version" type="xint" value="20151123"/>
        <config key="styles"/>
    </config>
    <entry key="customDescription" type="xstring" isnull="true" value=""/>
    <entry key="state" type="xstring" value="EXECUTED"/>
    <entry key="factory" type="xstring" value="org.knime.dynamic.js.v30.DynamicJSNodeFactory"/>
    <entry key="node-name" type="xstring" value="Box Plot"/>
    <entry key="node-bundle-name" type="xstring" value="D3 Samples for KNIME Dynamic JavaScript Node Generation"/>
    <entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.dynamic.js.base"/>
    <entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-bundle-version" type="xstring" value="4.4.2.v202110181014"/>
    <entry key="node-feature-name" type="xstring" value="KNIME JavaScript Views"/>
    <entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.js.views.feature.group"/>
    <entry key="node-feature-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-feature-version" type="xstring" value="4.4.2.v202110181014"/>
    <config key="factory_settings">
        <entry key="nodeDir" type="xstring" value="org.knime.dynamic.js.base:nodes/:boxplot_v2"/>
    </config>
    <entry key="name" type="xstring" value="Box Plot"/>
    <entry key="hasContent" type="xboolean" value="true"/>
    <entry key="isInactive" type="xboolean" value="false"/>
    <config key="ports">
        <config key="port_1">
            <entry key="index" type="xint" value="1"/>
            <entry key="port_spec_class" type="xstring" value="org.knime.core.node.port.inactive.InactiveBranchPortObjectSpec"/>
            <entry key="port_object_class" type="xstring" value="org.knime.core.node.port.inactive.InactiveBranchPortObject"/>
            <entry key="port_object_summary" type="xstring" value="Inactive Port Object"/>
            <entry key="port_spec_location" type="xstring" value="spec/spec.zip"/>
            <entry key="port_object_location" type="xstring" value="object/portobject.zip"/>
            <entry key="port_dir_location" type="xstring" value="port_1"/>
        </config>
    </config>
    <config key="filestores">
        <entry key="file_store_location" type="xstring" isnull="true" value=""/>
        <entry key="file_store_id" type="xstring" value="dd4f4ee6-51b6-438c-b673-740b57c86a0c"/>
    </config>
</config>
