<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
    <entry key="node_file" type="xstring" value="settings.xml"/>
    <config key="flow_stack"/>
    <config key="internal_node_subsettings">
        <entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
    </config>
    <config key="model">
        <config key="columns2Btransformed_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_columnfilter"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <config key="columns2Btransformed">
            <entry key="filter-type" type="xstring" value="STANDARD"/>
            <config key="included_names">
                <entry key="array-size" type="xint" value="37"/>
                <entry key="0" type="xstring" value="MS Zoning"/>
                <entry key="1" type="xstring" value="Street"/>
                <entry key="2" type="xstring" value="Lot Shape"/>
                <entry key="3" type="xstring" value="Land Contour"/>
                <entry key="4" type="xstring" value="Utilities"/>
                <entry key="5" type="xstring" value="Lot Config"/>
                <entry key="6" type="xstring" value="Land Slope"/>
                <entry key="7" type="xstring" value="Neighborhood"/>
                <entry key="8" type="xstring" value="Condition 1"/>
                <entry key="9" type="xstring" value="Condition 2"/>
                <entry key="10" type="xstring" value="Bldg Type"/>
                <entry key="11" type="xstring" value="House Style"/>
                <entry key="12" type="xstring" value="Roof Style"/>
                <entry key="13" type="xstring" value="Roof Matl"/>
                <entry key="14" type="xstring" value="Exterior 1st"/>
                <entry key="15" type="xstring" value="Mas Vnr Type"/>
                <entry key="16" type="xstring" value="Exter Qual"/>
                <entry key="17" type="xstring" value="Exter Cond"/>
                <entry key="18" type="xstring" value="Foundation"/>
                <entry key="19" type="xstring" value="Bsmt Qual"/>
                <entry key="20" type="xstring" value="Bsmt Cond"/>
                <entry key="21" type="xstring" value="Bsmt Exposure"/>
                <entry key="22" type="xstring" value="BsmtFin Type 1"/>
                <entry key="23" type="xstring" value="BsmtFin Type 2"/>
                <entry key="24" type="xstring" value="Heating"/>
                <entry key="25" type="xstring" value="Heating QC"/>
                <entry key="26" type="xstring" value="Central Air"/>
                <entry key="27" type="xstring" value="Electrical"/>
                <entry key="28" type="xstring" value="Kitchen Qual"/>
                <entry key="29" type="xstring" value="Functional"/>
                <entry key="30" type="xstring" value="Garage Type"/>
                <entry key="31" type="xstring" value="Garage Finish"/>
                <entry key="32" type="xstring" value="Garage Qual"/>
                <entry key="33" type="xstring" value="Garage Cond"/>
                <entry key="34" type="xstring" value="Paved Drive"/>
                <entry key="35" type="xstring" value="Sale Type"/>
                <entry key="36" type="xstring" value="Sale Condition"/>
            </config>
            <config key="excluded_names">
                <entry key="array-size" type="xint" value="0"/>
            </config>
            <entry key="enforce_option" type="xstring" value="EnforceExclusion"/>
            <config key="name_pattern">
                <entry key="pattern" type="xstring" value=""/>
                <entry key="type" type="xstring" value="Wildcard"/>
                <entry key="caseSensitive" type="xboolean" value="true"/>
            </config>
            <config key="datatype">
                <config key="typelist">
                    <entry key="org.knime.core.data.StringValue" type="xboolean" value="false"/>
                </config>
            </config>
        </config>
        <entry key="removeSources" type="xboolean" value="true"/>
    </config>
    <config key="nodeAnnotation">
        <entry key="text" type="xstring" value="1. Apply one hot encoding to%%00013%%00010the categorical features%%00013%%000102. Remove original%%00013%%00010categorical features"/>
        <entry key="bgcolor" type="xint" value="16777215"/>
        <entry key="x-coordinate" type="xint" value="324"/>
        <entry key="y-coordinate" type="xint" value="419"/>
        <entry key="width" type="xint" value="152"/>
        <entry key="height" type="xint" value="60"/>
        <entry key="alignment" type="xstring" value="CENTER"/>
        <entry key="borderSize" type="xint" value="0"/>
        <entry key="borderColor" type="xint" value="16777215"/>
        <entry key="defFontSize" type="xint" value="9"/>
        <entry key="annotation-version" type="xint" value="20151123"/>
        <config key="styles">
            <config key="style_0">
                <entry key="start" type="xint" value="16"/>
                <entry key="length" type="xint" value="1"/>
                <entry key="fontname" type="xstring" value="Arial"/>
                <entry key="fontstyle" type="xint" value="0"/>
                <entry key="fontsize" type="xint" value="9"/>
                <entry key="fgcolor" type="xint" value="0"/>
            </config>
            <config key="style_1">
                <entry key="start" type="xint" value="30"/>
                <entry key="length" type="xint" value="3"/>
                <entry key="fontname" type="xstring" value="Arial"/>
                <entry key="fontstyle" type="xint" value="0"/>
                <entry key="fontsize" type="xint" value="9"/>
                <entry key="fgcolor" type="xint" value="0"/>
            </config>
            <config key="style_2">
                <entry key="start" type="xint" value="46"/>
                <entry key="length" type="xint" value="50"/>
                <entry key="fontname" type="xstring" value="Arial"/>
                <entry key="fontstyle" type="xint" value="0"/>
                <entry key="fontsize" type="xint" value="9"/>
                <entry key="fgcolor" type="xint" value="0"/>
            </config>
        </config>
    </config>
    <entry key="customDescription" type="xstring" isnull="true" value=""/>
    <entry key="state" type="xstring" value="EXECUTED"/>
    <config key="nodecontainer_message">
        <entry key="type" type="xstring" value="WARNING"/>
        <entry key="message" type="xstring" value="Duplicate possible values found. Original column name will be appended"/>
    </config>
    <entry key="factory" type="xstring" value="org.knime.base.node.preproc.pmml.columntrans2.One2ManyCol2PMMLNodeFactory2"/>
    <entry key="node-name" type="xstring" value="One to Many (PMML)"/>
    <entry key="node-bundle-name" type="xstring" value="KNIME Base Nodes"/>
    <entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.base"/>
    <entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-bundle-version" type="xstring" value="4.4.2.v202110181012"/>
    <entry key="node-feature-name" type="xstring" value="KNIME Base nodes"/>
    <entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.base.feature.group"/>
    <entry key="node-feature-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-feature-version" type="xstring" value="4.4.2.v202110181012"/>
    <config key="factory_settings"/>
    <entry key="name" type="xstring" value="One to Many (PMML)"/>
    <entry key="hasContent" type="xboolean" value="true"/>
    <entry key="isInactive" type="xboolean" value="false"/>
    <config key="ports">
        <config key="port_1">
            <entry key="index" type="xint" value="1"/>
            <entry key="port_spec_class" type="xstring" value="org.knime.core.data.DataTableSpec"/>
            <entry key="port_object_class" type="xstring" value="org.knime.core.node.BufferedDataTable"/>
            <entry key="port_object_summary" type="xstring" value="Rows: 2232, Cols: 248"/>
            <entry key="port_dir_location" type="xstring" value="port_1"/>
        </config>
        <config key="port_2">
            <entry key="index" type="xint" value="2"/>
            <entry key="port_spec_class" type="xstring" value="org.knime.core.node.port.pmml.PMMLPortObjectSpec"/>
            <entry key="port_object_class" type="xstring" value="org.knime.core.node.port.pmml.PMMLPortObject"/>
            <entry key="port_object_summary" type="xstring" value="PMML document with version 4.2 and models: "/>
            <entry key="port_spec_location" type="xstring" value="spec/spec.zip"/>
            <entry key="port_object_location" type="xstring" value="object/portobject.zip"/>
            <entry key="port_dir_location" type="xstring" value="port_2"/>
        </config>
    </config>
    <config key="filestores">
        <entry key="file_store_location" type="xstring" isnull="true" value=""/>
        <entry key="file_store_id" type="xstring" value="85183e8f-1e0a-406d-805e-3066241d91c3"/>
    </config>
</config>
